//div.profile {text-align: right;float: right;div { padding-left: $unit / 1.5;border-bottom: $border;margin: $unit-small $unit;}}

div#navbar {
  width: 100%;
  height: $unit * 2.5;
  a {
    float: left;
    margin: $unit / 2 $unit;
    padding-right: $unit / 1.5;
    color: lightgray;
    border-bottom: $border-lightgray;
    &.active {
      color: black;
      border-bottom: $border;
    }
  }
  &.dark {
    a {
      border-bottom: $border-lightgray;
      color: lightgray;
      &.active {
        color: white;
        border-bottom: $border-white;        
      }
    } 
  }
}