div#profile {
  cursor: pointer;
  float: right;
  width: $unit * 6;
  & > div {
    height: calc(#{$unit} + 1px);
    overflow: hidden;
    margin: 0 $unit;
    @include transition(height);
    & > span {
      text-align: right;
      height: $unit;
      display: block;
      padding-left: $unit / 1.5;
      border-bottom: $border;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    form {
      width: 100%;
      input { text-align: center; }
      button {
        cursor: pointer;
        width : 100%;
        text-align: center;
      }
      div.error {
        @include transition(height);
        height: 0;
        line-height: $unit/2;
        font-size: $fontSize-message;
        font-family: $fontFamily-message;
        text-align: center;
        text-overflow: ellipsis;
        &.active{ height: $unit; }
      }
    }
  &.sign-in.expanded {
      height: $unit * 4;
    }
   &.register.expanded{
      height: $unit * 6;
    }
  }
}

div#navbar.dark > div#profile {
  & > div {
    & > span {
      border-bottom: $border-lightgray;
    }
    form {
      input { 
        background-color: black;
        color: lightgray; 
      }
    }
  }
} 