div#navbar {
  padding-top: $unit / 2;
  height: $unit * 2;
  a {
    float: left;
    margin-right: $unit * 2;
    padding-right: $unit;
    color: lightgray;
    border-bottom: $border-lightgray;
    &.active {
      color: black;
      border-bottom: $border-bold;
    }
    &:first-of-type {
      width: $unit * 2;
    }
  }
  &.dark {
    a {
      border-bottom: $border-lightgray;
      color: lightgray;
      &.active {
        color: white;
        border-bottom: $border-bold-white;        
      }
    } 
  }
}