@import "../../../node_modules/font-awesome/scss/font-awesome.scss";
@import "cinetype.scss";
@import "global.scss";
@import "../navbar/navbar.scss";
@import "../countDown/countDown.scss";
@import "../routines/routines.scss";
@import "../profile/profile.scss";
@import "../flow/flow.scss";

div#app {
  height: 100%;
  width: calc(100% - #{$unit * 2});
  padding : 0 $unit * 2;
  min-width: 25 * $unit;
  background-color: white;
  color: black;
  overflow: auto;
  &.dark {
    background-color: black;
    color: white;
  }
  & > div.content {
    height: calc(100% - #{$unit * 3.5});
  }
  & > div.footer {
    height: $unit;
  }
}
