@font-face {
  font-family: 'GT Cinetype';
  src: url('../fonts/GT-Cinetype-Trial-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Cinetype Light';
  src: url('../fonts/GT-Cinetype-Trial-Light.otf');
  font-weight: normal;
  font-style: normal;
}